*.elf
*.bin
*.o
.cdtproject
.cproject
.csettings/cdt.managedbuild.toolchain.gnu.cygwin.base.217389727_cdtBuildSystem
.csettings/cdt.managedbuild.toolchain.gnu.cygwin.base.217389727_org.eclipse.cdt.core.externalSettings
.csettings/cdt.managedbuild.toolchain.gnu.cygwin.base.217389727_org.eclipse.cdt.core.settings
.project
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
tools/SCL/bin/
tools/SCL/scl2.xsd_old
tools/SCL/scl2deps.xsd_old
configurations/BeagleBoardxM/Prototype/xmd/omap35xx.cfg
configurations/BeagleBoardxM/Prototype/xmd/regOMAP3500.def
configurations/BeagleBoardxM/Prototype/xmd/xmd.ini
